@media screen and (max-width: 394px) {
	* {
		margin: 0;
		padding: 0;
		font-family: 'Montserrat', sans-serif;
	}

	body {
		width: 24.5625rem;
		height: 567.9375rem;
	}

	/* navbar */
	.nav-bar .search,
	.nav-bar .user-buttons,
	.nav-bar p {
		display: none;
	}

	.nav-bar .logo img {
		margin: 1.5625rem 14.1875rem 1.5rem 1.6875rem;
	}

	.menu-burger {
		display: block;
	}

	/*jumbotron*/
	.jumbotron {
		background-image: linear-gradient(to right,rgba(68, 221, 138, 0.7), rgba(21, 183, 226, 0.7)), url('../assets/images/mobile-jumb.jpg');
		color: #ffffff;
		background-size: cover;
		height: 28.125rem;
		width: 100%;
		text-transform: uppercase;
		color: rgba(21, 34, 55, 1);
		background-position: center;
	}

	.jumbotron .slogan {
		width: 22.5rem;
		height: 7.3125rem;
		padding: 2.75rem 0 1.6875rem 1rem;
	}

	.jumbotron h1 {
		font-weight: 800;
		font-size: 2rem;
		line-height: 100%;
		letter-spacing: -0.015em;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
	}

	.jumbotron .slogan2 {
		width: 22.5rem;
		height: 4.5rem;
		padding: 0 0 1.6875rem 1rem;
	}

	.jumbotron h2 {
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 100%;
		letter-spacing: -0.015em;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
	}

	.jumbotron .slogan3 {
		padding: 0 0 0 8.1875rem;
	}

	/*popular*/
	.pop-container {
		display: block;
	}

	.popular h2 {
		font-weight: 800;
		font-size: 1.875rem;
		line-height: 2.5rem;
		letter-spacing: -0.015em;
		text-align: center;
		margin: 1.25rem 0 2.25rem 1.75rem;
	}

	.pop-form,
	.recent-form {
		width: 20.9375rem;
		height: 5rem;
	}

	
	.formation1 {
		margin: 0 0 2.9375rem 2.8125rem;
		width: 19.1875rem;
		height: 22.625rem;
	}
	.formation1 .rating {
		margin: .5rem 0 .4875rem;
	}
	.formation2 {
		margin: 0 0 2.875rem 2.9375rem;
		width: 19.0625rem;
		height: 22.625rem;
	}
	.formation3 {
		margin: 0 0 2.6875rem 2.9375rem;
		width: 19.0625rem;
		height: 22.625rem;
	}
	.formation3 .rating {
		margin: .375rem 0 .6125rem .0625rem;
	}
	.formation4 {
		margin: 0 0 2.6875rem 3.0625rem;
		width: 19.0625rem;
		height: 22.625rem;
	}
	.formation4 .rating {
		margin: .5rem 0 .4875rem .0625rem;
	}

	.see-more {
		margin: 0 0 2.8125rem 0;
	}

	/*recent*/

	.recent {
		width: 24.5625rem;
		height: 120.4375rem;
	}

	.recent-container {
		display: block;
	}

	.recent h2 {
		font-weight: 800;
		font-size: 1.875rem;
		line-height: 2.5rem;
		letter-spacing: -0.015em;
		text-align: center;
		margin: 0 0 2.3125rem 1.8125rem;
		padding-top: 2rem;
	}

	.recent .formation1 {
		margin: 0 0 3.375rem 2.75rem;
		width: 19.1875rem;
		height: 22.625rem;
	}
	.recent .formation2 {
		margin: 0 0 3.5625rem 2.75rem;
		width: 19.0625rem;
		height: 22.625rem;
	}
	.recent .formation3 {
		margin: 0 0 3.5625rem 2.5625rem;
		width: 19.625rem;
		height: 22.625rem;
	}
	.recent .formation3 .rating {
		margin: .5rem 0 .4875rem;
	}
	.recent .formation4 {
		margin: 0 0 4.25rem 2.5625rem;
		width: 19.0625rem;
		height: 22.625rem;
	}
	.recent .formation4 .rating {
		margin: .5rem 0 .4875rem;
	}

	.recent .see-more {
		margin: 0;
	}

	/*opinion*/

	.opinion {
		height: 56.875rem;
		width: 24.5625rem;
	}

	.client-opinion {
		padding: 0;
		padding: 1.75rem 0 1.625rem 3.25rem;
	}

	.opinion-container {
		display: block;
	}

	.opinion1 img:first-child,
	.opinion2 img:first-child {
		display: block;
	}

	.opinion1 {
		margin: 0 0 0 1.875rem;
		width: 21.2781rem;
		height: 24.25rem;
	}

	.opinion1 img,
	.opinion2 img {
		margin: 0 0 0 6.0625rem;
	}

	.opinion1 h3 {
		width: 21.2781rem;
		height: 2.25rem;
		margin: 0 0 .4375rem 0;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2.25rem;
		letter-spacing: -0.015em;
		text-align: center;
	}

	.opinion1 .rating {
		margin: 0 0 0 6.9375rem;
		gap: .2481rem;
	}

	.opinion1 .rating img,
	.opinion2 .rating img{
		margin: 0;
		width: 1.2894rem;
		height: 1.2rem;
	}
	
	.opinion1 .pp {
		width: 21.375rem;
		height: 10.8125rem;
		margin-top: .8625rem;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.875rem;
		letter-spacing: -0.015em;
	}

	.opinion2 {
		margin: 3.3125rem 0 0 1.875rem;
		width: 21.9488rem;
		height: 22.5rem;
	}

	.opinion2 h3 {
		width: 21.9488rem;
		height: 2.25rem;
		margin: 0 0 .6875rem -0.8862rem;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2.25rem;
		letter-spacing: -0.015em;
		text-align: center;
	}

	.opinion2 .rating {
		margin: 0 0 0 6.625rem;
		gap: .2481rem;
	}

	.opinion2 .ppp {
		width: 21.9375rem;
		height: 9.0625rem;
		margin-top: .6125rem;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.875rem;
		letter-spacing: -0.015em;
	}

	/*Advantages*/
	.advantages {
		width: 24.5625rem;
		height: 52rem;
	}

	.advantages h2{
		width: 21.8125rem;
		height: 5.8125rem;
		padding: 1.5625rem 0 0 0;
		margin: 0  0 1.0625rem 1.375rem;
		font-weight: 900;
		font-size: 1.875rem;
		line-height: 3.125rem;
		letter-spacing: -0.015em;
		text-align: center;
		text-transform: uppercase;
	}
	
	.advantages-container {
		margin: 0;
		flex-wrap: wrap;
	}

	.col1 {
		margin: 0 1.0625rem 0 1.75rem;
		gap: 0;
	}

	.col1 img:nth-child(1) {
		margin-bottom: 1.0625rem;
	}

	.col1 img:nth-child(2) {
		margin-bottom: 2.75rem;
	}

	.col1 img:nth-child(3) {
		margin-bottom: 2.6875rem;
	}

	.col1 img:nth-child(4) {
		margin-bottom: 1.1875rem;
	}

	.col1 img:nth-child(5) {
		margin-bottom: 3.3125rem;
	}

	.col1 img:nth-child(6) {
		margin-bottom: 4.0625rem;
	}

	.col2 {
		margin: 0;
		width: 18.5rem;
		height: 18.4375rem;
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.75rem;
		letter-spacing: -0.015em;
	}

	.col2 p {
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.75rem;
		letter-spacing: -0.015em;
	}

	.col2 p:nth-child(1) {
		margin-bottom: .125rem;
	}

	.col2 p:nth-child(2) {
		margin-bottom: .25rem;
	}

	.col2 p:nth-child(5) {
		margin-bottom: .25rem;
	}

	.col2 .mobile-p {
		display: block;
		margin-bottom: .25rem;
	}

	.col2 .desktop-p {
		display: none;
	}

	.img-advantage {
		display: none;
	}

	.img-advantage-mobile {
		width: 20.4375rem;
		height: 15.25rem;
		margin-left: 2.0625rem;
		display: flex;
	}

	/*Create*/
	.create {
		width: 24.5625rem;
		height: 63.75rem;
	}

	.create-right {
		padding: 0;
		width: 24.5625rem;
		height: 63.75rem;
	}

	.create h2:nth-child(2) {
		font-weight: 900;
		font-size: 1.875rem;
		line-height: 2.25rem;
		letter-spacing: -0.015em;
		text-align: center;
		text-transform: uppercase;
		width: 22.875rem;
		height: 4.9375rem;
		padding: 0;
		margin: 1.6875rem 0 .8125rem .8125rem;
		display: block;
	}
	
	.create h2:nth-child(1) {
		display: none;
	}

	.img-create-mobile {
		width: 20.25rem;
		height: 15.1875rem;
		display: flex;
		margin: 0 0 1.375rem 2.125rem;
	}

	.img-create {
		display: none;
	}

	.create-container {
		margin-left: 1.75rem;
	}

	.coin-hand,
	.heart {
		padding-bottom: 0;
		margin-bottom: 2.6875rem;
	}
	.pencil {
		padding-bottom: 0;
		margin-bottom: 3.125rem;
	}
	.settings {
		padding-bottom: 0;
		margin-bottom: 14.875rem;
	}

	.col-text {
		width: 17rem;
		height: 22rem;
		padding: 0;
	}

	.col-text p {
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.75rem;
		letter-spacing: -0.015em;
	}

	/*About*/
	.about {
		width: 24.5625rem;
		height: 64.8125rem;
		display: block;
	}

	.about-container {
		padding: 0;
		width: 24.5625rem;
		height: 41.6875rem;
	}

	.about-container h2{
		padding: 0;
		margin: 1.6875rem 0 1.25rem 1.5rem;
		width: 20.185rem;
		height: 4.5rem;
		font-weight: 900;
		font-size: 1.875rem;
		line-height: 2.25rem;
		letter-spacing: -0.015em;
		text-align: center;
		text-transform: uppercase;
	}

	
	.about-container p{
		width: 21.875rem;
		height: 33.1875rem;
		margin-left: 1.5rem;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.75rem;
		letter-spacing: -0.015em;
	}

	.about-container .abt-desktop-p {
		display: none;
	}

	.about-container .abt-mobile-p {
		display: block;
	}
	
	.img-side {
		width: 24.5625rem;
		height: 23.125rem;
		padding: 0;
	}

	.img-side img {
		width: 13.375rem;
		height: 4.8125rem;
		padding: 0;
		margin: 9.125rem 0 0 5.5625rem;
	}

	/*Contact*/
	.contact {
		width: 24.5625rem;
		height: 32.375rem;
	}

	.contact h2 {
		width: 21.8125rem;
		height: 2.25rem;
		padding: 1.8125rem 0 0 0;
		margin: 0 0 1.9375rem 1.375rem;
		font-weight: 900;
		font-size: 1.875rem;
		line-height: 2.25rem;
		letter-spacing: -0.015em;
		text-align: center;
		text-transform: uppercase;
	}

	.contact-line {
		display: none;
	}

	.contact-container {
		display: block;
	}

	.contact-container input[type="text"] {
		width: 22.25rem;
		height: 2.8125rem;
		margin: 0 0 1.3125rem .9375rem;
		background: rgba(21, 34, 55, 1);
	}

	.contact-container input[type="email"] {
		width: 22.25rem;
		height: 2.8125rem;
		margin: 0 0 1.3125rem .9375rem;
		background: rgba(21, 34, 55, 1);
	}

	.contact-container textarea {
		width: 22.25rem;
		height: 11.5625rem;
		margin: 0 0 1.375rem .9375rem;
	}

	.submit-btn {
		width: 22.25rem;
		height: 2.8125rem;
		margin: 0 0 0 1.125rem;
	}

	/*footer*/

	footer .top {
		width: 24.5625rem;
		height: 34.6875rem;
		background-color: rgba(21, 34, 55, 1);
		display: block;
	}

	.top .klivio-logo {
		width: 15.1875rem;
		height: 5.4375rem;
		margin: 2.8125rem 4.6875rem;
	}

	footer .legal {
		width: 10.8125rem;
		height: 8.4375rem;
		margin: 0 0 2rem 6.875rem;
		color: rgb(255, 255, 255);
	}

	footer .legal p {
		font-weight: 400;
		font-size: .9375rem;
		line-height: 1.5rem;
		letter-spacing: -0.015em;
		text-align: center;
	}

	footer .legal h2 {
		margin: 0 0 1rem 0;
		width: 10.8125rem;
		height: 1.5rem;
		font-weight: 700;
		font-size: .9375rem;
		line-height: 1.5rem;
		letter-spacing: -0.015em;
		text-align: center;
	}

	footer .coordinates {
		margin: 0 0 0 6.375rem;
		width: 11.8125rem;
		height: 9.3125rem;
	}

	footer .coordinates h2 {
		margin: 0 0 1.3125rem .5rem;
		width: 10.8125rem;
		height: 1.5rem;
		font-weight: 700;
		font-size: .9375rem;
		line-height: 1.5rem;
		letter-spacing: -0.015em;
		text-align: center;
	}
		
	footer .coord-info {
		margin: 0 0 0 .0625rem;
	}

	footer .line {
		display: none;
	}

	footer .bottom {
		display: none;
	}
	footer .copyright {
		display: none;
	}

	footer .ftr-buttons {
		display: none;
	}
	footer.follow p,
	footer .follow img {
		display: none;
	}
}