* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 105rem;
	height: 347.8125rem;
}

h1 {
	font-weight: 800;
}

.nav-bar {
	width: auto;
	height: 5rem;
	background-color: #152237;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-bar p {
	font-weight: 500;
	font-size: .9375rem;
	margin-left: 10.5rem;
	white-space: nowrap;
	letter-spacing: -0.015em;
	text-align: center;
	vertical-align: middle;
	width: 6.875rem;
	height: 1.125rem;
}

.logo img {
	width: 5.25rem;
	height: 1.938rem;
	margin-left: 6.125rem;
}

.search {
	position: relative;
}

.search img {
	position: absolute;
	right: .6319rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.3787rem;
	height: 1.5rem;
	color: #ffffff;
}

.search-bar {
	background-color: rgba(21, 34, 55, 1);
	border-color: #ffffff;
	width: 29.8125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	margin-left: 8.9375rem;
	border-style: solid;
	border-width: .0625rem;
}

.search-bar:focus {
	padding-left: 1.25rem;
}

.search-bar::placeholder {
	padding-left: 1.25rem;
    color: rgb(255, 255, 255); 
	font-family: 'Montserrat', sans-serif;
}

.user-buttons {
	display: flex;
	gap: 1.1875rem;
	margin-left: 13.75rem;
}

.connexion {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
	font-weight: 500;
	font-size: .9375rem;
	line-height: 100%;
	letter-spacing: -0.015em;
	text-align: center;
	vertical-align: middle;
}

.inscription {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	background: linear-gradient(to right,rgba(68, 221, 138, 1), rgba(21, 183, 226, 1));
	border: none;
	margin-right: 6.3125rem;
	font-weight: 500;
	font-size: .9375rem;
	line-height: 100%;
	letter-spacing: -0.015em;
	text-align: center;
	vertical-align: middle;
}

.menu-burger {
	display: none;
}

/* Intro section */
.jumbotron {
	background-image: linear-gradient(to right,rgba(68, 221, 138, 0.7), rgba(21, 183, 226, 0.7)), url('../assets/images/bg-header.png');
	color: #ffffff;
	background-size: cover;
	height: 28.125rem;
	width: 100%;
	text-transform: uppercase;
	color: rgba(21, 34, 55, 1);
}

.jumbotron .slogan {
	padding-top: 9.3125rem;
	padding-left: 20.5625rem;
}

.jumbotron .slogan2 {
	padding-top: .5rem;
	padding-left: 30.25rem;
}

.jumbotron .slogan3 {
	padding-top: 1.375rem;
	padding-left: 48.4375rem;
}

.jumbotron h1 {
	font-size: 3rem;
	margin: 0;
}

.jumbotron h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.learn-more {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: .9375rem;
	line-height: 100%;
	letter-spacing: -0.015em;
	text-align: center;
	vertical-align: middle;
}

/* Popular section */

.pop-container {
    display: flex;
}

.popular h3 {
	font-weight: 700;
	margin-top: 1.3125rem;
	color: rgba(21, 34, 55, 1);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	margin-bottom: .6875rem;
}

.popular p {
	font-weight: 400;
}

.rating {
	display: flex;
	width: 7.2581rem;
	height: 1.2rem;
	margin: .3125rem 0 .675rem 0;
}

.rating img {
	width: 1.2581rem;
	height: 1.2rem;
}

.see-more-btn {
	text-align: center;
}

.not-filled {
    opacity: 0.3;
}

.pop-form {
	margin: 1.875rem 0 0 6.0625rem;
	font-weight: 800;
	font-size: 2.25rem;
	line-height: 4.5rem;
	letter-spacing: -0.015em;
	color: rgba(21, 34, 55, 1);
}

.formation1 {
	margin: 2.125rem 0 0 6.25rem;
	width: 19.1875rem;
	height: 22.625rem;
}

.formation1 img {
    display: block;
}

.formation2 {
	margin: 2.125rem 0 0 5.625rem;
	width: 19.0625rem;
	height: 22.625rem;
}

.formation2 img {
    display: block;
}

.formation3 {
	margin: 2.125rem 0 0 4.75rem;
	width: 19.0625rem;
	height: 22.625rem;
}

.formation3 img {
    display: block;
}

.formation4 {
	margin: 2.125rem 0 0 5.6875rem;
	width: 19.0625rem;
	height: 22.625rem;
}

.formation4 img {
    display: block;
}

.price-tag {
	width: 7.5rem;
	height: 1.9737rem;
    background: #152237;
    color: white;
	font-weight: 700;
    border: none;
	border-radius: 5.8125rem;
	box-shadow: .3125rem .25rem .825rem -0.0625rem rgba(0, 0, 0, 0.25);
	font-size: 1.25rem;
	line-height: 1.25rem;
	letter-spacing: -0.015em;
	display: flex;
	align-items: center;
    justify-content: center;
	gap: .4375rem;
	position: absolute;
	margin-left: 10.875rem;
	margin-top: -1.25rem;
}

.old-price {
	font-weight: 400;
	font-size: .625rem;
	line-height: .4375rem;
	letter-spacing: -0.015em;
	text-decoration: line-through;
	width: 1.4375rem;
	height: .4375rem;
	white-space: nowrap;
}

.see-more {
	width: 14.0625rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
	font-family: 'Montserrat', sans-serif;
	background-color: #152237;
	color: white;
	margin: 2.6875rem 0 3.1875rem 0;
	font-weight: 500;
	font-size: .9375rem;
	line-height: 100%;
	letter-spacing: -0.015em;
	text-align: center;
	vertical-align: middle;
}

/* Recent section */

.recent {
	background-color: #152237;
	color: rgba(255,255,255,1);
	width: 105rem;
	height: 39.5rem;
}

.recent h2 {
	padding-top: 1.875rem;
}

.recent h3 {
	font-weight: 700;
	margin-top: 1.3125rem;
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	margin-bottom: .6875rem;
}

.recent-container {
	display: flex;
}

.recent-form {
	margin: 0 0 0 6.0625rem;
	font-weight: 800;
	font-size: 2.25rem;
	line-height: 4.5rem;
	letter-spacing: -0.015em;
}

.recent .formation1 {
	margin: 2.125rem 0 0 6.25rem;
	width: 19.0625rem;
	height: 22.625rem;
}

.recent .formation2 {
	margin: 2.125rem 0 0 5.625rem;
	width: 19.0625rem;
	height: 22.625rem;
}

.recent .formation3 {
	margin: 2.125rem 0 0 4.75rem;
	width: 19.625rem;
	height: 22.625rem;
}

.recent .formation4 {
	margin: 2.125rem 0 0 5.6875rem;
	width: 19.0625rem;
	height: 22.625rem;
}

.recent .price-tag {
	background-color: #ffffff;
	color: #152237;
}

.recent .see-more {
	background-color: #ffffff;
	color: #152237;
	margin: 2.6875rem 0 3.1875rem 0;
	font-weight: 500;
	font-size: .9375rem;
}

/* Opinion section */

.opinion {
	width: 105rem;
	height: 37.3125rem;
}

.client-opinion {
	font-weight: 900;
	width: 18.0625rem;
	height: 2.25rem;
	color:rgba(21, 34, 55, 1);
	padding-top: 3.625rem;
	padding-left: 43.4375rem;
	font-size: 2.5rem;
	letter-spacing: -0.015em;
	line-height: 2.25rem;
	text-transform: uppercase;
}

.opinion1 {
	margin-left: 9.375rem;
	margin-top: 4.125rem;
	height: 19.125rem;
	width: 43.0625rem;
}

.opinion h3 {
	margin-left: .1875rem;
	margin-top: .0625rem;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	width: 42.875rem;
	height: 2.25rem;
	color: rgba(21, 34, 55, 1);
}

.opinion2 h3 {
	margin-left: .5625rem;
	margin-top: .0625rem;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	width: 42.875rem;
	height: 2.25rem;
	color: rgba(21, 34, 55, 1);
}

.opinion .rating {
	margin: .4375rem 0 .8625rem 0;
}

.opinion2 .rating {
	margin: .625rem 0 .675rem .6875rem ;
}

.opinion .pp {
	height: 5.625rem;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.875rem;
	letter-spacing: -0.015em;
}

.ppp {
	margin-left: .5625rem;
	height: 5.625rem;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.875rem;
	letter-spacing: -0.015em;
}

.opinion-container {
	display: flex;
}

.opinion-container img {
	border-radius: 50%;
}

.opinion2 {
	margin-left: 1.5rem;
	margin-top: 4.125rem;
	height: 19.125rem;
	width: 41.5625rem;
}

/* Advantages section */

.img-advantage-mobile {
	display: none;
}

.advantages {
	background: rgba(245, 245, 245, 1);
	height: 40.0625rem;
	width: 105rem;
}

.advantages h2 {
	padding-top: 4.9375rem;
	padding-left: 6.125rem;
	font-weight: 900;
	font-size: 2.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: rgba(21, 34, 55, 1);
}

.advantages-container  {
	display: flex;
	margin-top: 2.6875rem;
}

.col1 {
	display: flex;
    flex-direction: column;
    gap: .9375rem;
	margin-left: 6.125rem;
	margin-right: 2.1875rem;
}

.col2 {
	display: flex;
    flex-direction: column;
    gap: 1.0625rem;
	margin-right: 4.4375rem;
	height: 18.4375rem;
	width: 38.5rem;
}

.col2 .mobile-p {
	display: none;
}

.img-advantage {
	margin-top: -5rem;
}

.advantages-container p {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.75rem;
	letter-spacing: -0.015em;
}

/* Create section */

.create {
	background: rgba(68, 221, 138, 1);
	height: 40.0625rem;
	width: 105rem;
	display: flex;
}

.create-right {
    display: flex;
    flex-direction: column;
	padding-top: .1875rem;
	padding-left: 5.125rem;
}

.create h2 {
	width: 42.875rem;
	padding-top: 4.9375rem;
	font-weight: 900;
	color: rgba(21, 34, 55, 1);
	font-size: 2.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	padding-bottom: 2.4375rem;
}

.create h2:nth-child(2) {
	display: none;
}

.create-container  {
	display: flex;
}

.col-icon {
	display: flex;
    flex-direction: column;
	margin-left: -0.25rem;
	margin-right: 2.4375rem;
}

.col-text {
	display: flex;
    flex-direction: column;
	padding-right: 4.4375rem;
	height: 22rem;
	width: 38.5rem;
	gap: 1.125rem;
}

.create-container p {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.75rem;
	letter-spacing: -0.015em;
}

.img-create {
	width: 45.5625rem;
	height: 30.4375rem;
	padding-top: 4.4375rem;
	padding-left: 6.3125rem;
}

.img-create-mobile {
	display: none;
}

.coin-hand {
	padding-bottom: .9375rem;
}
.heart {
	padding-bottom: 1.1875rem;
}
.pencil {
	padding-bottom: .9375rem;
}
.settings {
	padding-bottom: 8.0625rem;
}

/* About section */

.about {
	height: 46.25rem;
	width: 105rem;
	display: flex;
}

.about-container {
	padding-left: 6.4375rem;
	padding-top: 11.5rem;
	width: 53.125rem;
	display: flex;
	flex-direction: column;
	background: rgba(245, 245, 245, 1);
}

.about-container h2 {
	width: 42.875rem;
	font-weight: 900;
	font-size: 2.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	padding-bottom: 2.5625rem;
	color: #152237;
}

.about-container p {
	width: 42.6875rem;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.75rem;
	letter-spacing: -0.015em;
	height: 18.4375rem;
	color: rgba(21, 34, 55, 1);
}

.about-container .abt-mobile-p {
	display: none;
}

.img-side {
	width: 51.875rem;
	background: rgba(21, 34, 55, 1);;
	display: flex;
}

.img-side img {
	padding: 18.25rem 12.5rem 18.3125rem;
	width: 26.875rem;
	height: 9.6875rem;
}

/* Contact */

.contact {
	height: 41.4375rem;
	width: 105rem;
}

.contact h2 {
	width: auto;
	height: 2.25rem;
	color: rgba(21, 34, 55, 1);;
	padding-top: 3.75rem;
	margin-left: 40.25rem;
	font-weight: 900;
	font-size: 2.5rem;
	line-height: 2.25rem;
	letter-spacing: -0.015em;
	text-transform: uppercase;
}

.contact-line {
	width: 21.875rem;
    border: .0625rem solid rgba(68, 221, 138, 1);
    margin: 2.4375rem 41.5625rem auto auto;
}

.contact-container {
	display: flex;
}

.contact-container input, textarea{
	border: none;
}

.contact-container input[type="text"] {
	width: 37.4375rem;
	height: 2.8281rem;
	margin: 3.4375rem 8.625rem 0rem 10.75rem;
	background: rgba(21, 34, 55, 1);
}

.contact-container input[type="email"] {
	width: 37.4219rem;
	height: 2.8312rem;
	margin-top: 3.375rem;
	background: rgba(21, 34, 55, 1);
}

.contact-container textarea {
    resize: none;
	background: rgba(21, 34, 55, 1);
	margin-top: 3.4844rem;
	margin-left: 10.75rem;
	width: 83.495rem;
	height: 12.165rem;
}

.contact-container input[type="text"]::placeholder {
	padding-left: 1.125rem;
    color: rgb(255, 255, 255); 
}

.contact-container input[type="email"]::placeholder {
	padding-left: 1.0606rem;
    color: rgb(255, 255, 255); 
}

.contact-container textarea::placeholder {
	padding-left: 1.0469rem;
	padding-top: .965rem;
    color: rgb(255, 255, 255); 
}

.submit-btn {
    resize: none;
	background: rgba(68, 221, 138, 1);
	margin-top: 3.415rem;
	margin-left: 41.5269rem;
	width: 21.9725rem;
	height: 2.8312rem;
	border-radius: .375rem;
	border: none;
	color: rgba(21, 34, 55, 1);
	font-weight: 500;
	font-size: .9375rem;
	line-height: 100%;
	letter-spacing: -0.015em;
	text-align: center;
	vertical-align: middle;
}

/* footer */

footer {
	width: auto;
	height: 30.5625rem;
	background: rgba(21, 34, 55, 1);
}

footer .bar {
	background: linear-gradient(to right,rgba(68, 221, 138, 1), rgba(21, 183, 226, 1));
	height: 1.125rem;
	width: auto;
}

footer .top {
	width: auto;
	height: 17.125rem;
	display: flex;
}

footer .klivio-logo {
	margin: 5.625rem 0 0 6rem;
	width: 15.1875rem;
	height: 5.4375rem;
}

footer h2 {
	font-weight: 700;
	font-size: .9375rem;
	line-height: 1.5rem;
	letter-spacing: -0.015em;
	margin-bottom: 1rem;
}

footer .legal {
	margin: 6.375rem 4.0625rem 0 18rem;
	color: rgb(255, 255, 255);
	width: 10.8125rem;
	height: 8.4375rem;

}

footer p {
	font-weight: 400;
	font-size: .9375rem;
	line-height: 1.5rem;
	letter-spacing: -0.015em;
	color: rgb(255, 255, 255);
}

footer .coordinates {
	margin-top: 6.375rem;
	color: rgb(255, 255, 255);
	width: 12rem;
	height: 9rem;
}

.coordinates h2 {
	width: 10.8125rem;
	font-weight: 700;
	font-size: .9375rem;
	line-height: 1.5rem;
	letter-spacing: -0.015em;
	margin-bottom: 1rem;
}

footer .coordinates-icon {
	width: 1.5rem;
	height: 1.5rem;
	color: rgb(255, 255, 255);
	margin-right: 1.1875rem;
}

.coord-info {
	display: flex;
}

#a {
	margin-top: 1.4375rem;
	margin-bottom: .5625rem;
}

#b {
	margin-right: .0625rem;
}

.coorp {
	margin: .3125rem 0 .625rem 0;
}

.ftr-buttons {
	display: flex;
    flex-direction: column;
	margin-left: 24.4375rem;
	margin-top: 6.375rem;
	gap: .75rem;
}

footer .iconText {
	display: flex;
}

footer .line {
    background: linear-gradient(to right, rgba(68, 221, 138, 1), rgba(21, 183, 226, 1));
    height: .125rem;
	width: 92.625rem;
	margin-left: 6rem;
}

footer .bottom {
	width: auto;
	height: 12.1875rem;
	display: flex;
}

footer .follow {
	display: flex;
}

.bottom .copyright {
	margin-left: 6rem;
	margin-top: 1.5625rem;
	width: 20.0625rem;
}

.follow {
	margin-left: 53.9375rem;
	margin-top: 2.375rem;
	width: 20.0625rem;
}

.follow p{
	margin-right: 1.5rem;
	width: 6.125rem;
	height: 1.5rem;
	font-weight: 400;
	font-size: .9375rem;
	line-height: 1.5rem;
	letter-spacing: -0.015em;
	text-align: right;
	margin-top: .1875rem;
}

footer .follow-icon {
	width: 1.875rem;
	height: 1.875rem;
	color: rgb(255, 255, 255);
	margin-right: 1.3125rem;
}

footer .follow-icon-last {
	width: 1.875rem;
	height: 1.875rem;
	color: rgb(255, 255, 255);
	margin-right: .9375rem;
}

footer .follow img {
	width: 1.875rem;
	height: 1.875rem;
	color: rgb(255, 255, 255);
}
