* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 105rem;
	height: 347.8125rem;
}

h1 {
	font-weight: 800;
}

.nav-bar {
	width: auto;
	height: 5rem;
	background-color: #152237;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-bar p {
	font-weight: 500;
	font-size: 15px;
	margin-left: 10.5rem;
}

.logo img {
	width: 5.25rem;
	height: 1.938rem;
	margin-left: 6.125rem;
}

.search img {
	position: relative;
	right: 2.1875rem;
	top: 0.5rem;
	width: 1.375rem;
	height: 1.5rem;
	color: #ffffff;
}

.search-bar {
	background-color: rgba(21, 34, 55, 1);
	border-color: #ffffff;
	width: 29.8125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	margin-left: 8.9375rem;
	border-style: solid;
	border-width: 1px;
}

.search-bar:focus {
	padding-left: 1.25rem;
}

.search-bar::placeholder {
	padding-left: 1.25rem;
    color: rgb(255, 255, 255); 
	font-family: 'Montserrat', sans-serif;
}

.nav-bar button {
	margin: 0.5rem;
		
}
.user-buttons {
	display: block;
	margin-left: 15.3125rem;
}

.connexion {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
}

.inscription {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	background: linear-gradient(to right,rgba(68, 221, 138, 1), rgba(21, 183, 226, 1));
	border: none;
	margin-right: 6.3125rem;
}

/* Intro section */
.jumbotron {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right,rgba(68, 221, 138, 0.7), rgba(21, 183, 226, 0.7)), url('../assets/images/bg-header.png');
	color: #ffffff;
	background-size: cover;
	height: 28.125rem;
	width: 100%;
	text-transform: uppercase;
	color: rgba(21, 34, 55, 1);
}

.jumbotron h1 {
	font-size: 3rem;
	margin: 0;
}

.jumbotron h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin: 0.5rem;
}

.learn-more {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin: 1rem;
}

/* Popular section */

.pop-container {
    display: flex;
}

.popular h2 {
	font-weight: 700;
}

.popular p {
	font-weight: 400;
}

.figure {
	display: block;
}

.rating {
	display: flex;
	width: 1.375rem;
	height: 1.5rem;
}

.see-more-btn {
	text-align: center;
}

.not-filled {
    opacity: 0.3;
}


.pop-form {
	margin: 1.875rem 0 0 6.0625rem;
}

.formation1 {
	margin: 2.125rem 0 0 6.25rem;
}
.formation2 {
	margin: 2.125rem 0 0 5.625rem;
}
.formation3 {
	margin: 2.125rem 0 0 4.75rem;
}
.formation4 {
	margin: 2.125rem 0 0 5.6875rem;
}
.price-tag {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.5rem;
    background: #152237;
    color: white;
	font-weight: 700;
    border: none;
}

.old-price {
	text-decoration: line-through;
    color: #bfc8d2;
    font-size: 0.9rem;
}

.see-more {
	width: 14.0625rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
	font-family: 'Montserrat', sans-serif;
	background-color: #152237;
	color: white;
	margin: 43px 0 51px 0;
}

/* Recent section */

.recent {
	background-color: #152237;
	color: rgba(255,255,255,1);
	padding-top: 30px;
}

.recent-container {
	display: flex;
}

.recent-form {
	margin: 0 0 0 6.0625rem;
}

.recent .see-more {
	background-color: #ffffff;
	color: #152237;
	margin: 43px 0 51px 0;
	font-weight: 500px;
	font-size: 15px;
}

/* Opinion section */

.opinion {
	width: 105rem;
	height: 37.3125rem;
}

.client-opinion {
	font-weight: 900;
	width: 18.0625rem;
	height: 2.25rem;
	color:rgba(21, 34, 55, 1);
	padding-top: 3.625rem;
	padding-left: 695px;
}

.opinion1 {
	padding-left: 150px;
	padding-top: 66px;
	height: 19.125rem;
	width: 43.0625rem;
}

.opinion h2 {
	padding-left: 3px;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -1.5%;
	width: 42.875rem;
	height: 2.25rem;
}

.opinion .rating {
	padding-top: 7px;
	padding-left: 2px;
}

.opinion p {
	width: 42.875rem;
	height: 5.625rem;
	padding-top: .8625rem;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: -0.015em;
}

.opinion-container {
	display: flex;
}

.opinion-container img {
	border-radius: 50%;
}

.opinion2 {
	padding-left: 24px;
	padding-top: 66px;
	height: 19.125rem;
	width: 665px;
}

/* Advantages section */

.advantages {
	background: rgba(245, 245, 245, 1);
	height: 40.0625rem;
	width: 105rem;
}

.advantages h1 {
	padding-top: 79px;
	padding-left: 98px;
	font-weight: 900;
	font-style: Black;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
}

.advantages-container  {
	display: flex;
	margin-top: 43px;
}

.col1 {
	display: flex;
    flex-direction: column;
    gap: 15px;
	margin-left: 98px;
	margin-right: 2.1875rem;
}

.col2 {
	display: flex;
    flex-direction: column;
    gap: 1.0625rem;
	margin-right: 4.4375rem;
	height: 18.4375rem;
	width: 38.5rem;
}

.img-advantage {
	margin-top: -80px;
}

.advantages-container p {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.015em;
}

/* Create section */

.create {
	background: rgba(68, 221, 138, 1);
	height: 40.0625rem;
	width: 105rem;
	display: flex;
}

.create-right {
    display: flex;
    flex-direction: column;
	padding-top: 3px;
	padding-left: 82px;
}

.create h1 {
	width: 42.875rem;
	padding-top: 79px;
	font-weight: 900;
	font-style: black;
	color: rgba(21, 34, 55, 1);
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
	padding-bottom: 2.4375rem;

}

.create-container  {
	display: flex;
}

.col-icon {
	display: flex;
    flex-direction: column;
	margin-left: -0.25rem;
	margin-right: 2.4375rem;
}

.col-text {
	display: flex;
    flex-direction: column;
	padding-right: 4.4375rem;
	height: 18.4375rem;
	width: 38.5rem;
	gap: 1.125rem;
}

.create-container p {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.015em;
}

.img-create {
	width: 45.5625rem;
	height: 30.4375rem;
	padding-top: 4.4375rem;
	padding-left: 6.3125rem;
}

.coin-hand {
	padding-bottom: 15px;
}
.heart {
	padding-bottom: 19px;
}
.pencil {
	padding-bottom: 15px;
}
.settings {
	padding-bottom: 129px;
}

/* About section */

.about {
	height: 46.25rem;
	width: 105rem;
	display: flex;
}

.about-container {
	padding-left: 6.4375rem;
	padding-top: 184px;
	width: 53.125rem;
	display: flex;
	flex-direction: column;
}

.about-container h1 {
	width: 42.875rem;
	font-weight: 900;
	font-style: Black;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
	padding-bottom: 2.5625rem;
}

.about-container p {
	width: 42.875rem;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -1.5%;
	height: 18.4375rem;
}

.img-side {
	width: 51.875rem;
	background: rgba(21, 34, 55, 1);;
	display: flex;
}

.img-side img {
	padding: 18.25rem 12.5rem 293px;
  width: 430px;
  height: 9.6875rem;
}

/* Contact */

.contact {
	height: 41.4375rem;
	width: 105rem;
}

.contact h1 {
	width: auto;
	height: 2.25rem;
	color: rgba(21, 34, 55, 1);;
	margin: 60px auto 2.4375rem 40.25rem;
	font-weight: 900;
	font-style: Black;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
}

.contact-line {
	width: 350px;
    border: 1px solid rgba(68, 221, 138, 1);
    margin: 39px 41.5625rem auto auto;
}

.contact-container {
	display: flex;
}

.contact-container input, textarea{
	border: none;
}

.contact-container input[type="text"] {
	width: 37.4375rem;
	height: 2.8281rem;
	margin: 3.4375rem 8.625rem 0rem 10.75rem;
	background: rgba(21, 34, 55, 1);
}

.contact-container input[type="email"] {
	width: 37.4219rem;
	height: 2.8312rem;
	margin-top: 3.375rem;
	background: rgba(21, 34, 55, 1);
}

.contact-container textarea {
    resize: none;
	background: rgba(21, 34, 55, 1);
	margin-top: 3.4844rem;
	margin-left: 10.75rem;
	width: 83.495rem;
	height: 12.165rem;
}

.contact-container input[type="text"]::placeholder {
	padding-left: 1.125rem;
    color: rgb(255, 255, 255); 
}

.contact-container input[type="email"]::placeholder {
	padding-left: 16.97px;
    color: rgb(255, 255, 255); 
}

.contact-container textarea::placeholder {
	padding-left: 16.75px;
	padding-top: 15.44px;
    color: rgb(255, 255, 255); 
}

.submit-btn {
    resize: none;
	background: rgba(68, 221, 138, 1);
	margin-top: 3.415rem;
	margin-left: 41.5269rem;
	width: 21.9725rem;
	height: 2.8312rem;
	border-radius: .375rem;
	border: none;
	color: rgba(21, 34, 55, 1);
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -1.5%;
	text-align: center;
	vertical-align: middle;
}

/* footer */
footer .bar {
	background: linear-gradient(to right,rgba(68, 221, 138, 0.7), rgba(21, 183, 226, 0.7));
	height: 1.125rem;
	width: auto;
}

footer .ftr {
	width: auto;
	height: 29.4375rem;
	background: rgba(21, 34, 55, 1);
	display: flex;
}

footer .klivio-logo {
	margin: 5.625rem 0 0 6rem;
	width: 243px;
	height: 5.4375rem;
}

footer h1 {
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: -1.5%;
}

footer .legal {
    display: flex;
    flex-direction: column;
	margin: 102px 65px 16px 298px;
	color: rgb(255, 255, 255);
	width: 10.8125rem;
	height: 8.4375rem;
}

.legal p {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: -1.5%;
}

footer .coordinates {
    display: flex;
    flex-direction: column;
	margin-top: 6.375rem;
	color: rgb(255, 255, 255);
	width: 192px;
	height: 144px;
}

footer .coordinates-icon {
	width: 1.5rem;
	height: 1.5rem;
	color: rgb(255, 255, 255);
}

.ftr-line {
	margin-top: 18.375rem;
	width: 92.625rem;
	height: .125rem;
	background: rgba(68, 221, 138, 1);
}

.ftr-buttons {
	display: flex;
    flex-direction: column;
	margin-left: 24.4375rem;
	margin-top: 6.375rem;
	gap: .75rem;
}