body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 800;
}

.nav-bar {
	width: auto;
	height: 5rem;
	background-color: #152237;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-bar p {
	font-weight: 500;
	font-size: 15px;
	margin-left: 10.5rem;
}

.logo img {
	width: 5.25rem;
	height: 1.938rem;
	margin-left: 6.125rem;
}

.search img {
	position: relative;
	right: 2.1875rem;
	top: 0.5rem;
	width: 1.375rem;
	height: 1.5rem;
	color: #ffffff;
}

.search-bar {
	background-color: rgba(21, 34, 55, 1);
	color: white;
	width: 29.8125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border-color: #ffffff;
	margin-left: 8.9375rem;
}

.search-bar:focus {
	padding-left: 1.25rem;
}

.search-bar::placeholder {
	padding-left: 1.25rem;
    color: rgb(255, 255, 255); 
	font-family: 'Montserrat', sans-serif;
}

.nav-bar button {
	margin: 0.5rem;
		
}
.buttons {
	display: block;
	margin-left: 15.3125rem;
}

.connexion {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
}

.inscription {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	background: linear-gradient(to right,rgba(68, 221, 138, 1), rgba(21, 183, 226, 1));
	border: none;
	margin-right: 6.3125rem;
}

/* Intro section */
.jumbotron {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right,rgba(68, 221, 138, 0.7), rgba(21, 183, 226, 0.7)), url('../assets/images/bg-header.png');
	color: #ffffff;
	background-size: cover;
	height: 28.125rem;
	width: 100%;
	text-transform: uppercase;
	color: rgba(21, 34, 55, 1);
}

.jumbotron h1 {
	font-size: 3rem;
	margin: 0;
}

.jumbotron h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin: 0.5rem;
}

.learn-more {
	width: 8.125rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
	font-family: 'Montserrat', sans-serif;
	margin: 1rem;
}

/* Popular section */